In [8]:
import utility as u

train_file = "data_train.txt"
test_file = "shuffle_data_test.txt"
data_folder = 'data'
columns = ['click', 'weekday', 'hour', 'timestamp', 'log_type', 'user_id', 'user_agent', 'ip', 'region', 'city',
           'ad_exchange', 'domain', 'url', 'anon_url_id', 'ad_slot_id', 'width', 'height', 'visibility', 'format',
           'price', 'creative_id', 'key_page_url', 'advertiser_id', 'user_tags']

train, test = u.import_tr_te(train_file, test_file, columns, data_folder)

In [3]:
train.head()

,click,weekday,hour,timestamp,log_type,user_id,user_agent,ip,region,city,...,ad_slot_id,width,height,visibility,format,price,creative_id,key_page_url,advertiser_id,user_tags
0,0,6,0,20130606000104308,1,VhT3La5uDlaywOj,windows_chrome,122.233.40.*,94,95,...,mm_10058411_2865562_9929053,300,250,2,1,0,44966cc8da1ed40c95d59e863c8c75f0,361e128affece850342293213691a043,3386,"10057,10063,10024,13800,13866,10110"
1,0,6,0,20130606000104371,1,Vhk0Z35ULqFcBZc,windows_ie,180.107.223.*,80,85,...,4017603800,336,280,2,0,5,ff5123fb9333ca095034c62fdaaf51aa,361e128affece850342293213691a043,3386,"10063,10059,13776,10111"
2,0,6,0,20130606000104420,1,Vhk7ZAnxPcKOjCb,windows_ie,111.120.123.*,298,299,...,2141208056,250,250,2,0,5,7097e4210dea4d69f07f0f5e4343529c,361e128affece850342293213691a043,3386,"10063,10111"
3,0,6,0,20130606000104436,1,VhkY1nFEPlkyeIC,windows_ie,112.95.93.*,216,219,...,415540879,250,250,2,0,5,7097e4210dea4d69f07f0f5e4343529c,361e128affece850342293213691a043,3386,10048
4,0,6,0,20130606000104450,1,VhLrOxuUPqd63CL,windows_chrome,113.200.249.*,333,334,...,2811067692,250,250,2,0,5,7097e4210dea4d69f07f0f5e4343529c,361e128affece850342293213691a043,3386,"10006,10057,14273"

In [2]:
train.describe()

,click,weekday,hour,timestamp,log_type,region,city,ad_exchange,width,height,visibility,format,price,advertiser_id
count,1000.000000,1000,1000,1.000000e+03,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000
mean,0.001000,6,0,2.013061e+16,1,172.984000,177.570000,1.500000,388.688000,235.52000,5.817000,0.570000,9.755000,3386
std,0.031623,0,0,5.450677e+02,0,104.847607,106.291255,0.504236,190.292853,135.72159,33.763227,0.765301,31.430795,0
min,0.000000,6,0,2.013061e+16,1,0.000000,0.000000,1.000000,120.000000,60.00000,0.000000,0.000000,0.000000,3386
25%,0.000000,6,0,2.013061e+16,1,80.000000,84.750000,1.000000,300.000000,90.00000,1.000000,0.000000,0.000000,3386
50%,0.000000,6,0,2.013061e+16,1,201.000000,203.500000,1.000000,300.000000,250.00000,2.000000,1.000000,0.000000,3386
75%,0.000000,6,0,2.013061e+16,1,253.000000,275.000000,2.000000,468.000000,250.00000,2.000000,1.000000,5.000000,3386
max,1.000000,6,0,2.013061e+16,1,395.000000,397.000000,3.000000,1000.000000,600.00000,255.000000,5.000000,295.000000,3386

In [9]:
for c in train.columns:
    print(c+" : ")
    print(len(train[c].unique()))

click :
2
weekday :
1
hour :
1
timestamp :
756
log_type :
1
user_id :
965
user_agent :
12
ip :
933
region :
34
city :
221
ad_exchange :
3
domain :
369
url :
795
anon_url_id :
1
ad_slot_id :
520
width :
9
height :
6
visibility :
4
format :
3
price :
35
creative_id :
9
key_page_url :
2
advertiser_id :
1
user_tags :
503

In [14]:
def draw_ct(join, response, factor):
    df = pd.crosstab(join[response], join[factor])
    # Normalize the cross tab to sum to 1:
    ndf = df.div(df.sum(1).astype(float), axis=0)
    # sort values:
    ndf = ndf.sort(columns=[1, 0])
    return ndf, ndf.plot(kind='bar', stacked=True, title=('Fault Severity by ' + factor))

In [15]:
ndf, plot = draw_ct(train, "click", "region")

/home/stan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [17]:
import matplotlib.pyplot as plt
plt.show()

In [18]:
train['click'].value_counts()

0    999
1      1
Name: click, dtype: int64

In [12]:
import pandas as pd